@mixin box {
  display: block;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  height: auto;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-basis($indent, $item) {
  flex-basis: calc((100% - #{$indent} * (#{$item} - 1)) / #{$item});
}
