// Шрифт Roboto//
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
$main-font: 'Roboto', sans-serif;

$background-image_red: url(../images/header_background_image_red.png);
$background-image_yellow: url(../images/header_background_image_yellow.png);
$background-color-main: #f0f0f0;
$background-color1: #000;
$background-color2: #fff;
$background-color3: #B92F2C;
$background-color-active: #640606;

$text-color1: #fff;
$text-color2: #000;
$modal-text-cl: #8c8c8c;
// Загальні налаштування
h1,
h2,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
%list {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}