<footer class="footer">
  <div class="footer-container">
    <div class="copyright">
      <p class="copyright_part1">© 2023 | All Rights Reserved |</p>

      <p class="copyright_part2">
        Developed with
        <svg
          class="footer-icon-heart"
          xmlns="http://www.w3.org/2000/svg"
          width="14"
          height="13"
          fill="none"
        >
          <path
            fill="#B92F2C"
            d="m7 12.88-.98-.98C2.38 8.68 0 6.51 0 3.85 0 1.68 1.68 0 3.85 0 5.04 0 6.23.56 7 1.47 7.77.56 8.96 0 10.15 0 12.32 0 14 1.68 14 3.85c0 2.66-2.38 4.83-6.02 8.05l-.98.98Z"
          />
        </svg>
        <!-- by <a class="developers" href="#"><u>GoIT Students</u></a> -->
        by
        <a
          class="developers js-team-modal-open"
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          ><u>GoIT Students &nbsp;Coders (Group #13)</u></a
        >
      </p>
    </div>
  </div>
</footer>
