<header class="header-library">
    <div class="layout">
      <img class="hr_img" src="./images/header_background_image_red.png" alt="header_bg_img">
      <img class="hr_img_mob" src="./images/header_mob_background_image_red.png" alt="header_bg_img">
      <div class="nav">
        <div class="home"><a href="#">Home</a></div>
        <div class="library"><a href="#">My Library</a></div>
      </div>
      <div class="buttons">
        <div class="watched"><a href="#">Watched</a></div>
        <div class="queue"><a href="#">queue</a></div>
      </div>
      <div class="logo">
        <a href="#">
          <img src="./images/header_logo.png" alt="#">
        </a>
        <h1>Filmoteka</h1>
      </div>
    </div>
  </header>