<!-- <div class="modal-card">
    <div class="poster">
     <img class="modal-photo" src="" alt="">
    </div>
    <div class="description">
        <h2>Заголовок</h2>
            <ul class="categories">
                <li class="vote">Vote/Votes</li>
                <li class="popularity">Popularity</li>
                <li class="title">Original Title</li>
                <li class="genre">Genre</li>   
            </ul>
        <h3 class="about"></h3>
        <p class="text-about"></p>
        <button type="button" class="colseModal"></button>
        <button type="button" class="addModalButton"></button>
        <button type="button" class="quequButton"></button>
    </div>
</div>
 -->

