<div class="backdrop is-hidden" data-modal-group>
  <div class="modal">
    <button class="modal-close" data-modal-close>
      <svg class="button-close_icon">
        <use href="./images/svg/last.svg"></use>
      </svg>
    </button>
    <h2 class="modal-title">Сoders (Group #13)</h2>
    <ul class="list card">
      <li class="item card__item">
        <a
          href="https://"
          class="card__link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="card__overflow">
            <img src="./images/svg/heart.svg" alt="" class="card-photo" />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Name<br />Surname</h2>
            <p class="card__desc">Team lead</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a
          href="https://"
          class="card__link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="card__overflow">
            <img src="./images/svg/heart.svg" alt="" class="card-photo" />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Name<br />Surname</h2>
            <p class="card__desc">Scrum master</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a
          href="https://"
          class="card__link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="card__overflow">
            <img src="./images/svg/heart.svg" alt="" class="card-photo" />
            <div class="card__overlay">
              <p class="card__text">
                Модальне вікно з інформацією про учасників команди.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Name<br />Surname</h2>
            <p class="card__desc">Developer</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a
          href="https://"
          class="card__link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="card__overflow">
            <img src="./images/svg/heart.svg" alt="" class="card-photo" />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Name<br />Surname</h2>
            <p class="card__desc">Developer</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a
          href="https://"
          class="card__link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="card__overflow">
            <img src="./images/svg/heart.svg" alt="" class="card-photo" />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Name<br />Surname</h2>
            <p class="card__desc">Developer</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a
          href="https://"
          class="card__link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="card__overflow">
            <img src="./images/svg/heart.svg" alt="" class="card-photo" />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Name<br />Surname</h2>
            <p class="card__desc">Developer</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a
          href="https://"
          class="card__link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="card__overflow">
            <img src="./images/svg/heart.svg" alt="" class="card-photo" />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Name<br />Surname</h2>
            <p class="card__desc">Developer</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a
          href="https://"
          class="card__link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="card__overflow">
            <img src="./images/svg/heart.svg" alt="" class="card-photo" />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Name<br />Surname</h2>
            <p class="card__desc">Developer</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a
          href="https://"
          class="card__link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="card__overflow">
            <img src="./images/svg/heart.svg" alt="" class="card-photo" />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Name<br />Surname</h2>
            <p class="card__desc">Developer</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a
          href="https://"
          class="card__link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="card__overflow">
            <img src="./images/svg/heart.svg" alt="" class="card-photo" />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Name<br />Surname</h2>
            <p class="card__desc">Developer</p>
          </div>
        </a>
      </li>
      <li class="item card__item">
        <a
          href="https://"
          class="card__link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="card__overflow">
            <img src="./images/svg/heart.svg" alt="" class="card-photo" />
            <div class="card__overlay">
              <p class="card__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>
          <div class="card__border">
            <h2 class="card__title">Name<br />Surname</h2>
            <p class="card__desc">Developer</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
